body {
    text-align: center;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BYjxg9jTitpfkf6g/white-stars-abstract-art-award-backgrounds-blizzard-blurred-motion-bright_rtmzilmvg_thumbnail-full01.png");
}
img {
    width: 290px;
    border:3px dashed white;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
}
h1:hover {
    color: #b3d9ff;
    border:2px dashed white;
}
h2 {
    font-family: 'Amatic SC', cursive;
    color: #7300e6;
}
h2:hover {
    color: #96B8FF;
}
p { 
    font-family: 'Shadows Into Light Two', cursive;
}
a:hover {
    color: #ffccdd;
}
.drama {
    color: #031C51;
}
.music {
    color: #37579B;
}
